<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../static/images/favicon.jpg" type="image/x-icon">
    <title>Fly Bag Sharing</title>
</head>
<body>
    <div class="container">
        <h1 class="waiting-list">Join Our Waiting List</h1>
        <h2 class="fly-bag-sharing">Fly Bag Sharing</h2>
        <form id="joinForm">
            <div class="input-container">
                <div class="input-with-icon">
                    <input id="emailInput" type="Email" name="email" placeholder="Email Address" required>
                </div>
                <button id="joinButton" class="button" type="button">Join</button>
            </div>
        </form>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>
