{% extends 'layout.html' %} {% block title %}
  Register
{% endblock %} {% block content %}
  <h2>Register</h2>
  <form method="POST" action="{{ url_for('register') }}">
    {{ form.hidden_tag() }}
    <p>{{ form.username.label }} {{ form.username(size=32) }}</p>
    <p>{{ form.email.label }} {{ form.email(size=32) }}</p>
    <p>{{ form.password.label }} {{ form.password(size=32) }}</p>
    <p>{{ form.confirm_password.label }} {{ form.confirm_password(size=32) }}</p>
    <p>{{ form.submit() }}</p>
  </form>
{% endblock %}
